.flex {
  display: flex;
  justify-content: space-between;
}

.header-right-flex{
  display: flex;
  justify-content: flex-end;
}

.menu {
  font-size: 18px;
  color: blue;
  margin-left: 20px;
}

.header-left {
  color: blue;
  font-size: 20px;
  font-weight: bold;
}

main {
  position: relative;
}

.absolute {
  position: absolute;
  top: 100px;
  right: 0;
  width: 50%;
}

.titlebox {
  padding-top: 370px;
}

.title {
  font-size: 50px;
  margin-bottom: 0;
}

.about-box {
  height: 150px;
  width: 1100px;
  background-color: blue;
}

.img {
  right: 0;
  width: 100%;
}

